fastapi==0.111.0
uvicorn==0.30.1
gunicorn==21.2.0

aiohttp==3.9.5
requests==2.31.0
ujson==5.10.0
python-dotenv==1.0.1

numpy==1.26.4
pandas==2.2.2
ta==0.11.0

python-binance==1.0.17

matplotlib==3.8.4
fpdf==1.7.2

















